{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2023,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "react-hooks",
    "prettier",
    "jsx-a11y",
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended"
  ],

  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },

  "settings": {
    "react": {
      "version": "detect"
    }
  },

  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },

  "rules": {
    "func-names": ["error", "never"],
    "no-console": "off",
    "prettier/prettier": ["error"],
    "no-multiple-empty-lines": ["error", { "max": 4 }],
    "no-unused-vars": "warn",
    "no-warning-comments": [
      0,
      { "terms": ["todo", "fixme", "xxx"], "location": "anywhere" }
    ],
    "label-has-associated-control": "off",
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "jsx-a11y/media-has-caption": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/label-has-associated-control": "off"
  }
}
