@import "./../global.scss";

.page {
  height: 100%;

  font-size: $font-size_root;

  scroll-behavior: smooth;
  background-attachment: fixed;

  &__body {
    height: 100%;

    font-family: "Open Sans";
    color: $color_text-primary;
    line-height: 1.5;

    background-attachment: fixed;
  }
}
